@import url('https://fonts.cdnfonts.com/css/gilam');

body {
    background-color: #171717;
    font-family: 'Gilam', sans-serif;
    color: white;
    max-height: 4000px;
}

.header,
.walls,
.auto,
.clients {
    width: 1460px;
    margin: 0 auto;
}

.wrapper {
    padding-top: 46px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
}

.header-callback {

    text-align: center;
    width: 222px;
    color: #E4B564;
    padding: 10px 25px 10px 44px;
    box-sizing: border-box;
    border: 1px solid #E4B564;
}

.header-callback:hover {
    background-color: #f1c776;
    transition: 0.5s;
    color: black;
}

.header-callback p::before {
    content: url("../img/callback.png");
    padding-right: 10px;
}


/*walls-part-start-here*/
.walls {
    color: white;
}

.walls p {
    margin-top: 41px;
}

.title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.description {
    font-size: 20px;
    font-weight: 700;
}

.section-1 {
    padding-top: 41px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    grid-template-areas:
    "wall-1 wall-1 wall-2 wall-2 wall-3 wall-3"
    "wall-4 wall-4 wall-4 wall-5 wall-5 wall-5";
    grid-gap: 34px;
    justify-content: center;
    text-align: center;
    font-weight: 700;

}

.wall-1 {
    place-items: center;
    display: grid;
    grid-area: wall-1;
    background-color: #634F2C;
    text-align: center;
    vertical-align: middle;


}

.wall-2 {
    line-height: 28px;
    place-items: center;
    display: grid;
    grid-area: wall-2;
    background-color: #B4A385;
}

.wall-3 {
    place-items: center;
    display: grid;
    grid-area: wall-3;
    background-color: #E4B564;
}

.wall-4 {
    place-items: center;
    display: grid;
    grid-area: wall-4;
    background-color: #635A4A;
}

.wall-5 {
    place-items: center;
    display: grid;
    grid-area: wall-5;
    background-color: #B08C4D;
}

/*car-part-start-here*/
.auto {
    margin-top: 161px
}

.section-2 {
    margin-top: 94px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 78px);
    grid-template-areas:
            "car-1  car-2  car-3"
            "car-1  car-2  car-3"
            "car-1  car-2  car-3"
            "car-1  car-2  car-6"
            "car-4  car-2  car-6"
            "car-4  car-5  car-6"
            "car-4  car-5  car-6"
            "car-4  car-5  car-7"
            "car-4  car-5  car-7"
            "car-4  car-5  car-7";

    grid-gap: 30px;
    justify-content: center;

}

.car-1,
.car-2,
.car-3,
.car-4,
.car-5,
.car-6,
.car-7 {
    padding: 44px 0 0 52px;
}

.car-1 {
    background-color: #0E0E0E;
    grid-area: car-1;
    line-height: 24.98px;
}

.car-2 {
    background-color: #242424;
    grid-area: car-2;
    line-height: 24.98px;
}

.car-1 > span {
    font-weight: 600;
}

.car-2 > span {
    font-weight: 600;
}

.car-3 {
    background-color: #1F1F1F;
    grid-area: car-3;
}

.car-4 {
    background-color: #1F1F1F;
    grid-area: car-4;
}

.car-5 {
    background-color: #E4B564;
    color: black;
    grid-area: car-5;
    margin-bottom: 20px;
    font-weight: 500;
}

.car-6 {
    background-color: #0E0E0E;
    grid-area: car-6;
}

.car-7 {
    background-color: #0A0909;
    grid-area: car-7;
    font-weight: 700;
}


/*client-part-start-here*/
.part-3 {
    background-color: #0E0E0E;

}

.clients {
    margin-top: 191px;
}

.clients-header {
    padding-top: 172px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "title-partners" "all-projects";
}

.clients-header a {
    text-decoration: none;
}

.clients-header p {
    display: grid;
    grid-area: title-partners;
    font-size: 50px;
    font-weight: 700;
}

.all-projects {
    text-align: center;
    grid-area: all-projects;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 39px;
    box-sizing: border-box;
    text-decoration: none;
    width: 218px;
}

.all-projects:hover {
    background-color: #E4B564;
    color: black;
    transition: 0.5s;
}

.clients-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-3 {
    padding-top: 72px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
    grid-template-areas:
"client-1   client-2  client-3"
"client-4   client-5  client-6";
    justify-content: center;
    margin-bottom: 238px;

}

.client-1 {
    place-items: center;
    display: grid;
    grid-area: client-1;
    background-color: #634F2C;
}

.client-2 {
    align-content: center;
    place-items: center;
    display: grid;
    grid-area: client-2;
    background-color: #E8D2ABC2;

}

.client-2:hover .works {
    height: 10em;
}

.works {
    padding-top: 16px;
    transition: height 0.5s ease;
    height: 0;
    overflow: hidden;
    line-height: 28px;
}

.works span {
    font-weight: 600;
    font-size: 22px;
}

.client-3 {
    place-items: center;
    display: grid;
    grid-area: client-3;
    background-color: #E4B564;
}

.client-4 {
    place-items: center;
    display: grid;
    grid-area: client-4;
    background-color: #635A4A;
}

.client-5 {
    place-items: center;
    display: grid;
    grid-area: client-5;
    background-color: #B08C4D;
}

.client-6 {
    place-items: center;
    display: grid;
    grid-area: client-6;
    background-color: #634F2C;
}





